# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/

# PyTest
.cache/
.pytest_cache/

# VS Code
.vscode/

# Mac
.DS_Store

# Logs
*.log